alabaster==0.7.12
attrs==19.1.0
Babel==2.7.0
blueprint==3.4.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorlog==4.0.2
dnslib==0.9.10
docutils==0.15.2
Flask==1.1.1
get==2019.4.13
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
packaging==19.1
peewee==3.9.6
post==2019.4.13
psutil==5.6.3
public==2019.4.13
Pygments==2.4.2
pyparsing==2.4.2
pytz==2019.2
query-string==2019.4.13
requests==2.22.0
six==1.12.0
snowballstemmer==1.9.0
urllib3==1.25.3
Werkzeug==0.15.5
